<p>scrrible works!</p>
<button class="nav-link active" aria-current="page" href="#" routerLink="/keepnote" routerLinkActive="active">Back</button>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Scribble Note</div>
            <div class="card-body">
                <button #addscr class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Sribble Notes</div>
            <div class="card-body">
                <ul id="scribbleContainer">

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Add Total</div>
            <div class="card-body">
                <ul id="scribbleContainer1">

                </ul>
            </div>
        </div>
    </div>
</div>